#navbar{
  background-color: #363636;
}

#header-dropdonw{
	margin-left: 1000px !important;
}

.btn-header{
	margin-top: 8px;
	float: right;
	margin-right: 5px;
}

.header-classifikdos{
	color: white;
	margin-left: 24px;
}

.header-classifikdos .red{
	color: red;
	font-weight: bold;
}

body{
	font-family: 'Sintony';
}

.site{
	margin-top:20px;
}

.auth {
	margin-left: 10px;
}

#footer{
	background-color: #363636;
	text-align: center;
	color: white;
	height: 100px;
	margin-top:200px;
}

.red {
	color: red;
	font-weight: bold;
}

.minha-conta{
	text-align: right;
}

.topo {
	background-image: url('../images/bg.png');
	height: 200px;
}

.center-align {
	text-align: center;
	margin: 60px 0 0 0;
}

.center-align .img-logo{
	margin-left: 400px;
}

.right-align {
	color: white;
	text-align: right;
	float: right;
	margin: 70px 0 0 0;
}

.hr-topo {
	position: relative;
	border: 0;
	color: #f00;
	background-color: gray;
	height: 1px;
	top: 20px;
	z-index: 
}

.search input{
	border-radius: 4px;
	border: none;
	outline-style: none;
	background-image: url('../images/lupa.png');
	background-repeat:no-repeat;
	background-position: 4px 3px;
  padding-left:20px;
  height: 30px;
  width: 30px;
  padding-left: 30px;
  color: gray;
}

.li-menu{
	bottom: 5px;
}

.align-dropdown {
	bottom: 5px;
}

.menu li a:hover {
	color: red !important;
}

.seta-menu a:hover {
	color: red !important;
}

.menu-config {
	top: 15px;
	color: white;
	text-align: right;
}

.underline{
	text-decoration: underline;
}

.base {
	margin-top: 210px;
}

.p-footer{
	font-size: 8pt;
	position: relative;
	bottom: 15px;
}

.hr-footer{
	border: 0;
	background-color: #c8c8c8;
	height: 1px;
}

footer{
	color: gray;
}