#navbar{
  background-color: #363636;
}

#header-dropdonw{
	margin-left: 1000px !important;
}

.btn-header{
	margin-top: 8px;
	float: right;
	margin-right: 5px;
}

.header-classifikdos{
	color: white;
	margin-left: 24px;
}

.header-classifikdos .red{
	color: red;
	font-weight: bold;
}

body{
	font-family: 'Sintony';
}

.site{
	margin-top:20px;
}

.auth {
	margin-left: 10px;
}

#footer{
	background-color: #363636;
	text-align: center;
	color: white;
	height: 100px;
	margin-top:200px;
}

.red {
	color: red;
	font-weight: bold;
}

.minha-conta{
	text-align: right;
}