<div class="navbar navbar-default">
  <div class="topo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 center-align">
          <img src="images/classifikdos.png" class="img-logo"/>
        </div>
        <div class="col-xs-6 col-md-4 right-align" ng-controller="SearchCtrl">
          <form class="search" ng-submit="busca()" >
            <input type="text" class="input-search" ng-model="searchmodel" search required>
          </form>
        </div>
      </div>     
    </div>
    <hr class="hr-topo">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav navbar-nav menu">
            <li class="li-menu"><a tabindex="-1" href="#">Página Principal </a></li>
            <li class="dropdown align-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" id="themes">Categorias <span class="caret seta-menu"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                  <li><a tabindex="-1" href="#/categoria/informatica">Informática</a></li>
                  <li><a tabindex="-1" href="#/categoria/eletrodomesticos">Eletrodomésticos</a></li>
                  <li><a tabindex="-1" href="#/categoria/esporte">Esporte</a></li>
                </ul>
              </li>
            <li class="li-menu"><a tabindex="-1" href="#/sobre">Sobre</a></li>
          </ul>
        </div>
        <div class="col-xs-6 menu-config">
          <div ng-hide="isAuth">
            Olá, acesse <span class="underline"><a data-toggle="modal" data-target="#modalLogin" class="white">sua conta</a></span>, ou faça <span class="underline"><a class="white" data-toggle="modal" data-target="#modalRegister">seu registro</a></span>.
          </div>
          <div ng-show="isAuth" class="btn-auth">
            <div class="btn-group">
              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> {{user.nome}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu align-menu-auth">
                <li><a href="#/perfil">Perfil</a></li>
                <li><a href="#/produtos">Meus Produtos</a></li>
                <li><a href="#/anuncios">Meus Anúncios</a></li>
                <li><a ng-click="removerConta()" class="pointer">Remover minha conta</a></li>
                <li><a ng-click="logout()" class="pointer">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Acesse sua conta</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="login()">
          <div class="alert alert-dismissable alert-danger" id="alert-login" style="display:none;">
            <strong>Oops!</strong> Dados inválidos, verifique e tente novamente.
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail" ng-model="user.email" placeholder="Email">
          </div>
        </form>
        <form role="form">
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword" ng-model="user.senha" placeholder="Senha">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Registro</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Endereço de email" ng-model="cadastro.email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="text" class="form-control" id="exampleInputNome" placeholder="Nome" ng-model="cadastro.nome">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" ng-model="cadastro.senha">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="register()">Registrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->