<div class="navbar navbar-default navbar-fixed-top" ng-controller="MainCtrl">
  <div class="topo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 center-align">
          <img src="images/classifikdos.png" />
        </div>
        <div class="col-xs-6 col-md-4 right-align">
          <form class="search">
            <input type="text" class="input-search">
          </form>
        </div>
      </div>     
    </div>
    <hr class="hr-topo">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <ul class="nav navbar-nav menu">
            <li class="li-menu"><a tabindex="-1" href="#">Página Principal </a></li>
            <li class="dropdown align-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Categorias <span class="caret seta-menu"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                  <li><a tabindex="-1" href="../default/">Default</a></li>
                </ul>
              </li>
            <li class="li-menu"><a tabindex="-1" href="#">Sobre</a></li>
          </ul>
        </div>
        <div class="col-xs-6">.col-xs-6</div>
      </div>
    </div>
  </div>
</div>